<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ selected_category|title }} News</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    {% comment %} <h1 class="my-4">{{ selected_category|title }} News</h1> {% endcomment %}
    <!-- In category.html -->
<h1 class="my-4">News for {{ selected_country | title }} - {{ selected_category | title }}</h1>

    <div class="btn-group mb-4">
        {% for category in categories %}
        <a href="{% url 'category_news' category %}" class="btn btn-secondary {% if selected_category == category %}active{% endif %}">
            {{ category|title }}
        </a>
        {% endfor %}
    </div>
    <div class="row">
        {% for article in articles %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ article.urlToImage }}" class="card-img-top" alt="News Image">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.description }}</p>
                    <a href="{{ article.url }}" target="_blank" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>
